<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?><plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
	<extension point="org.knime.workbench.repository.nodes">
		<node category-path="/" factory-class="org.vincent.DecisionTree.DecisionTreeNodeFactory" id="org.vincent.DecisionTree.DecisionTreeNodeFactory"/>
		<node category-path="/" factory-class="org.vincent.DecisionTree.DecisionTreePredictorNodeFactory" id="org.vincent.DecisionTree.DecisionTreePredictorNodeFactory"/>
	</extension>
   
	<extension point="org.knime.core.PortType">
		<portType hidden="false" name="org.vincent.DecisionTree.DecisionTreePortModel" objectClass="org.vincent.DecisionTree.DecisionTreePortModel" objectSerializer="org.vincent.DecisionTree.DecisionTreePortModel$Serializer" specClass="org.vincent.DecisionTree.DecisionTreePortModelSpec" specSerializer="org.vincent.DecisionTree.DecisionTreePortModelSpec$Serializer">
		</portType>
	</extension>
   
</plugin>
